<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p --- [%18.18t] %-40.40c{1.} : %m%n%ex}{ERROR=red, WARN=yellow, INFO=grey, DEBUG=green, TRACE=blue}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="com.alexb" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="com.alexb.kafka.serializer" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="kafka.utils" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <logger name="org.springframework.kafka.listener" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </logger>


        <Root level="warn">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>